.button-none {
    background-color: grey;
}

.button-revealed {
    background-color: lightgray;
}

.button-flagged {
    background: gray url(/static/images/flag.png) center no-repeat;
}

.button-question {
    background: gray url(/static/images/question.png) center no-repeat;
}

.mine {
    background: lightgrey url(/static/images/mine.png) center no-repeat;
}

.mine-tripped {
    background: red url(/static/images/mine.png) center no-repeat;
}

.button {
    width: 50px;
    height: 50px;
    background-size: 100% 100%;
    font-size: 1.05em;
    font-weight: 700;
    padding: 0 !important;
    margin: 0 !important;
    border-color: gray white white gray;
}

/* .table {
    padding: 0 !important;
    margin: 0 !important;
}

.table-row {
    padding: 0 !important;
    margin: 0 !important;
}

.table-cell {
    padding: 0 !important;
    margin: 0 !important;
} */

.win {
    background: grey url(/static/images/win.png) center no-repeat;
}

.lose {
    background: grey url(/static/images/lose.png) center no-repeat;
}

.clicking {
    background: grey url(/static/images/concerned.png) center no-repeat;
}

.normal {
    background: grey url(/static/images/happy.png) center no-repeat;
}

.face-button {
    width: 50px;
    height: 50px;
    background-size: 100% 100%;
}

.number-1 {
    color: blue;
}

.number-2 {
    color: green;
}

.number-3 {
    color: red;
}

.number-4 {
    color: purple;
}

.number-5 {
    color: maroon;
}

.number-6 {
    color: turquoise;
}

.number-7 {
    color: black;
}

.number-8 {
    color: gray;
}