html{
    background-color: #222222;
}

.container {
    text-align: center;
}

.display {
    display: inline-block;
    border: 2px solid grey;
}

.top-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: silver;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
}

.diff-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: silver;
}

.board {
    display: flex;
    flex-direction: column;
}

.board-row {
    display: flex;
    flex-direction: row;
}

.button-none {
    background: silver url(/static/images/tegank.png) center no-repeat;
}

.button-revealed {
    background-color: silver;
    border: none;
}

.button-flagged {
    background: silver url(/static/images/flag.png) center no-repeat;
}

.button-question {
    background: silver url(/static/images/question.png) center no-repeat;
}

.mine {
    background: silver url(/static/images/mine.png) center no-repeat;
    border: none;
}

.mine-tripped {
    background: red url(/static/images/mine.png) center no-repeat;
    border: none;
}

.button {
    width: 50px;
    height: 50px;
    background-size: 100% 100%;
    font-size: 1.05em;
    font-weight: 700;
    border-width: 3px;
    border-color: whitesmoke darkgray darkgray whitesmoke;
}

.win {
    background: silver url(/static/images/win.png) center no-repeat;
}

.lose {
    background: silver url(/static/images/lose.png) center no-repeat;
}

.clicking {
    background: silver url(/static/images/concerned.png) center no-repeat;
}

.normal {
    background: silver url(/static/images/happy.png) center no-repeat;
}

.face-button {
    width: 40px;
    height: 40px;
    background-size: 100% 100%;
}

.number-1 {
    color: blue;
}

.number-2 {
    color: green;
}

.number-3 {
    color: red;
}

.number-4 {
    color: purple;
}

.number-5 {
    color: maroon;
}

.number-6 {
    color: turquoise;
}

.number-7 {
    color: black;
}

.number-8 {
    color: gray;
}

.difficulty-button {
    margin: 5px;
}

.beginner {
    color: green;
}

.intermediate {
    color: blue;
}

.expert {
    color: red;
}

.counter {
    color: red;
    font-family: "Courier New";
    background-color: darkred;
    font-size: 1.7em;
    margin: 5px;
    border: 1px solid grey;
}